[build]
  command = "npm run build"
  publish = "build"
  functions = "netlify/functions"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/server"
  status = 200

[build.environment]
  NODE_VERSION = "16"

# IMPORTANTE: Cambiar a bundler zip
[functions]
  node_bundler = "zisi"