[build]
  command = "npm run build"
  publish = "build"
  functions = "netlify/functions"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/server"
  status = 200
  force = true

[build.environment]
  NODE_VERSION = "16"

[functions]
  node_bundler = "esbuild"
  
[functions.server]
  included_files = ["frontity.settings.js", "build/**"]